<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/headb')  %> 

<body>

    <%- include('../partials/header') %> 
     
    <main>
        <div class="detalle-producto">
            <div class="imagenes">
                <section class="imagen-principal">
                    <img src="/images/products/<%= product.images %>" alt="">
                </section>
            </div>
            <div class="contenido-text">
                <section class="detalles">
                    <div>
                        <h2><%= product.name %></h2>
                    </div>
                    <br>
                    <p>Tamaño: Baby 1</p>
                    <p>Color: Verde Manzana</p>
                    <p></p>
                    <div class="__cantidad"> Cantidad
                        <form class="input_number" action="" method="">
                            <input type="number" name="" id="" value="1">
                        </form>
                    </div>
                    <!-- <p>Cantidad: 1</p> -->
                    <p>Costo: $<%= product.price %></p>
                    <% if (product.discount > 0) { %>
                        <p> Descuento: Ahora a <span> $<%= product.price - product.discount * product.price / 100 %></span></p>
                      <% } else { %>
                        <p> Sin Descuento</p>
                      <% } %>
                    <p>DESCRIPCIÓN:<%= product.description %></p> 
                    
                    <div class="añadir-carrito">
                            <a href="/productos/cart" class="addCart">Agregar al carrito</a>
                            <!-- <a href="/productos/edit/<%= product.id %>"><button>Editar Producto</button></a>
                            <form action="/productos/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit">Eliminar</button>
                            </form> -->
                    </div>
                </section>
            </div>
        </div>
        <div>
            <h4 class="unicoH4">PRODUCTOS DESTACADOS</h4>
            <section class="section-1">
              <div class="product-final">
                <% productosDestacados.forEach( product => { %>
                    <article class="article-final">
                      <% if (product.discount > 0) { %>
                          <span class="ifdiscount"><%= product.discount %> %</span>    
                    <% } %>
                      <a href="/productos/detail/<%- product.id %>">
                        <div class="cont-imagen">
                            <img src="/images/products/<%- product.images %>" alt="ARNES">
                        </div>
                        <div class="detail-product">
                          <h3><%- product.name %></h3>
                                <% if (product.discount > 0) { %>
                                <span class="card__priceSale--original">$ <%= product.price %> </span> 
                                <span class="actualPrice"> Ahora $ <%=  product.price - product.discount * product.price / 100 %> </span>
                                <% } else { %>
                                  <span class="default-msg">Producto 100% Argentino </span>  
                                  <span class="simplePrice">$ <%- product.price %></span>
                                <% } %>
                        </div>
                        <div class="boton-press">
                            <div class="boton-one">
                                <button type="submit"><i class="fas fa-truck"></i>
                                    Agregar al carrito
                                </button>
                            </div>
                        </div>
                    </a>
                    </article>
                  <% }) %>
            </div>
        </section>
        </div>
    </main>
    <%- include('../partials/footer')  %> 
    <%- include('../partials/scripts')  %>
</body>
</html>